<section class="first-screen container-fluid-xxl">
    <div class="first-screen">
        <div class="first-screen-slider">
        <div>
            <div class="container"></div>
            <div style="background-image: url(assets/img/first-screen.jpg);"></div>
            <div class="first-screen__title">Прямое КАРГО из Китая</div>
            <div class="first-screen__subtitle">Доставляем любые грузы из Китая по честной цене</div>
            <button class="btn btn-primary">Рассчитать стоимость</button>
        </div>
    </div>
        <div>2 slick slide</div>
        <div>3 slick slide</div>
        <div>4 slick slide</div>
        <div>5 slick slide</div>
    </div>
</section>
